{% extends 'core/base.html' %}

{% block title %}Nuestros Clientes - Evento Solicitud{% endblock %}

{% block content %}
<h1 class="mb-4"style="background-color:white; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); color: black; border-radius: 15px;">Nuestros Clientes</h1>
<div class="row">
    <div class="col-md-12" style="background-color:rgb(255, 255, 255); backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); color: rgb(0, 0, 0); border-radius: 15px;">
        <p>En Evento Solicitud, nos enorgullecemos de haber trabajado con una amplia variedad de clientes, desde pequeñas celebraciones familiares hasta grandes eventos corporativos. Aquí hay algunos testimonios de nuestros clientes satisfechos:</p>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">María González</h5>
                <p class="card-text">"Evento Solicitud hizo que mi boda fuera perfecta. El servicio fue excelente y todo el equipo fue muy profesional."</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Empresa XYZ</h5>
                <p class="card-text">"Hemos utilizado los servicios de Evento Solicitud para varios eventos corporativos y siempre superan nuestras expectativas."</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Juan Pérez</h5>
                <p class="card-text">"Gracias a Evento Solicitud, la fiesta de graduación de mi hija fue un éxito total. ¡Altamente recomendados!"</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}